.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.modal-content {
    background-color: var(--white);
    color: var(--black);
    padding: 5rem;
    text-align: center;
    border-radius: .5rem;
}
.modal-content button{
    padding: .5rem 2rem;
    margin-top: 3rem;
    margin-left: .5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
}
table .modal-head th{
  padding: 0 2rem;
  padding-bottom: 2rem;
}
/* Start Edit Modal Styles */
.edit-modal-inputs{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.edit-modal-inputs input{
    font-size: 1.3rem;
    padding: .8rem 1rem;
    background-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .5rem;
    border: none;
}
.modal-alert{
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 20%;
}
/* comment component Modal */
.edit-comment{
    margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.edit-comment textarea{
    font-size: 1.2rem;
 
}