.add-Product{
    margin-top: 2rem;
    padding: 1.5rem ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: var(--white);
    border-radius: 1rem;
}
.add-new-product-title{
    font-size: 1.5rem;
    margin-right: 1.2rem;
    color: var(--black);
}
.add-Product form{
    margin-top: 1.5rem;
    background-color: var(--white);
    padding: 1rem;
    text-align: left;
}
.add-new-product-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.add-new-product-group{
    background-color: var(--white-50);
    border-radius: .5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-right: .5rem;
}
.add-new-product-group input{
   color: var(--black);
   outline: none;
   border: none;
   background: unset;
   width: 100%;
   padding: .5rem;
   font-size: 1.2rem;
}
.add-new-product-group input::placeholder{
    color: var(--black);
    opacity: .7;
}
.add-new-product-group svg{
    color: var(--black);
}
.add-new-product-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    padding: 1rem;
}
.add-new-product-btn:hover{
    cursor: pointer;
    background-color: rgb(10, 19, 107);
}