.app{
    display: flex;
}
.main{
    flex: 6;
    padding: 0 1rem;
}
/* Styling of all project tables */
table {
    border-collapse: collapse;
    width: 100%;
    color: var(--black);
}
tr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
tr img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
td , th{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.table-title{
    color: var(--black);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    margin-bottom: 4rem;
}
.table-section{
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}
tr.table-item{
    margin-top: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.table-btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: .5rem;
}

.table-btn:hover {
    background-color: rgb(10, 19, 107);
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}